altgraph==0.12
dodopie==0.97
eg==0.0.3
Flask==0.10.1
gnureadline==6.3.3
ipython==2.4.0
itsdangerous==0.24
Jinja2==2.7.3
macholib==1.7
MarkupSafe==0.23
mercurial==3.4.1
modulegraph==0.12.1
mpmath==0.19
pathlib==1.0.1
psutil==2.2.1
py==1.4.26
py2app==0.9
PyInstaller==2.1
pytest==2.6.4
simpy==3.0.6
sympy===0.7.6-git
thefuck==1.12
Werkzeug==0.10.4
